.Auth {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
.wrapper{
  width: 20%;
  text-align: center;
}

.wrapper div{
  width:100%;
  margin: 4% 0% 4% 0%;
}
  
  .infoInput{
    border: 0.2rem solid var(--palette-light-light-grey);
    background: var(--palette-grey);
    border-radius: 14px;
    width:92%;
    color: var(--palette-light-grey);
    padding: 5% 2% 5% 4%;
  }
  
  .authButton{
    margin: 10% 0% 0% 0%;
    background: var(--palette-red);
    width: 100%;
    color: var(--palette-yellow);
    border-radius: 10px;
  }

  .authButton:hover {
    color: var(--palette-red);
    border: 0.2rem solid var(--palette-red);
    cursor: pointer;
    background: transparent;
  }

.spacer{
  margin:40%;
}

.isSignUp{
  margin: 10% 0% 10% 0%;

}