:root {
    font-family:'Oak Sans' !important;
    --palette-yellow: #F0F0D5;
    --palette-red:#E74144 ;
    --palette-navy: #222425;
    --palette-grey: #222425 ;
    --palette-light-grey:#616466;
    --palette-light-light-grey:#bec2c5;
    color: var(--palette-yellow);
    background-color: var(--palette-grey);
    margin: 1rem 1rem;
    overflow:hidden;

  }

h1{
    font-weight: 900;
    font-size: 13rem;
    line-height: 0.2rem;
}
h2{
    font-weight: 800;
    font-size: 5.5rem;
    line-height: 1rem;

}
h3{
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.05rem;

}
h4{
    font-weight: 600;
    font-size: 1rem;
}
h5{
    font-weight: 400;
    font-size: 1rem
}
h6{
    font-weight: 300;
    font-size:0.5rem;
}

.button {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--palette-grey);
    border: 0.2rem solid transparent;
    padding: 0.7rem;
    border-radius: 2rem ;
    background: var(--palette-yellow);
    transition: all 100ms ease-out;
  
  }
  
  .button:hover {
    color: var(--palette-yellow);
    border: 0.2rem solid var(--palette-yellow);
    cursor: pointer;
    background: transparent;
  }
  .button:disabled{
    pointer-events: none;
  }

  .buttoninverted{
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    position:relative;
    border: none;
    color:var(--palette-yellow);
    background-color: var(--palette-grey);
    padding-bottom: 2px;
  }

  .buttoninverted:after{
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0.2rem;
  background-color: var(--palette-yellow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-decoration: none;

  }
  .buttoninverted:hover{
    cursor: pointer;
  }

  .buttoninverted:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.logo{
  font-size: 3rem;
  background: var(--palette-yellow);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: var(--palette-grey);
  display: inline-block;
  font-weight: 850;
  line-height: 3.5rem;
  margin-right: 5px;
  text-align: center;
  width: 3.5rem;
}
nav{
  display: flex;
  width: 95%;
  justify-content: space-between;
  height: 0rem;
}