.container{
    height: 100%;
    width:100%
}

nav{
    display: flex;
    width: 95%;
    justify-content: space-between;
    height: 0rem;
}
a{
    display:inline-block;
    padding: 0 1rem 0 1rem
}
.row{
    display: flex;
    padding: 2% 2% 0%;
}
.columnleft{
    flex:45%;
    position: relative;
}
.columnright{
    flex:50%;
    text-align: right;
}
.rectangle{
    position: absolute;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 32rem;
    width: 18rem;
    z-index: -2;
    left: 20%;
    top:10%;
}
.columnleft img{
    left:15%;
    top:5%; 
    position:absolute;
    max-width: 23rem;
    max-height:23rem;
}
.img[animation='1'], .categorytext[animation='1'], .price[animation='1'], .brand[animation='1'], .productname[animation='1']{
    animation: fade-in 1s 1;
}
.img[animation='2'], .categorytext[animation='2'], .price[animation='2'], .brand[animation='2'], .productname[animation='2']{
    animation: fade-out 1s 1;
}
.img[animation='-1'], .categorytext[animation='-1'], .price[animation='-1'], .brand[animation='-1'], .productname[animation='-1']{
    opacity:1;
}
.img[animation='-2'], .categorytext[animation='-2'], .price[animation='-2'], .brand[animation='-2'], .productname[animation='-2']{
    opacity:0;
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1
    }
  }
  @keyframes fade-out {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
  }
.procuctcontainer{
    position:absolute;
    background-color: var(--palette-yellow);
    width: 15rem;
    height:19rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 6px;
    z-index: -1;
    left: 38%;
    top: 34%;
}
.productinside{
    width:100%;
    height:100%;
    position:relative;
    color: var(--palette-grey);
    margin: 2% 4%;
}
.category{
    position: absolute;
    top:50%;
    width:85%;
    background-color: var(--palette-grey);
    border-radius: 5px;
    padding: 1% 0 2% 4%;
    text-align:left;
}
.categorytext{
    color: var(--palette-yellow);
    font-weight: 600;
    font-size: 0.9rem;
}
.price{
    position:absolute;
    top:63%;
    font-size: 1rem;
    font-weight: 700;
}
.productname{
    position:absolute;
    top:73%;
    font-size: 0.7rem;
    font-weight: 700;
}
.brand{
    position:absolute;
    top:90%;
    font-size: 0.5rem;
    font-weight: 600;
}

.type-wrap {
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: #CCC 1px solid;
    text-align: right;
    padding: 0 1% 0 0;
}
.footer{
    padding:0% 2% 0% 11%;
}