@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery, .image-gallery-content, .image-gallery-slide-wrapper, .image-gallery-swipe, .image-gallery-slides, .image-gallery-slides>div{
    height: 100%;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 70px;
    width: 40%;
}
.image-gallery-bullets .image-gallery-bullet.active:hover{
    background: var(--palette-red)
}
.image-gallery-bullets .image-gallery-bullet:focus{
    transform:scale(1.2);background:var(--palette-red);
    border:1px solid var(--palette-red)
}
.image-gallery-slide .image-gallery-image {
    height:100%;
    object-fit:cover;
    width:100%;
}
.image-gallery-icon:focus{
    outline:none;
}
.image-gallery-icon:hover{
    color:var(--palette-red)
}
.image-gallery-bullets .image-gallery-bullet:hover{
    background-color:var(--palette-red);
    border: 1px solid var(--palette-red);
}
.image-gallery-icon {
    color: var(--palette-light-grey);
    transition: all .3s ease-out;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4;
    filter: none;
}
.image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: var(--palette-light-grey);
    border: 1px solid var(--palette-light-grey);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 7px;
    outline: none;
    padding: 4px;
    transition: all .2s ease-out;
    box-shadow: none;
}
.image-gallery-bullets .image-gallery-bullet.active {
    transform: scale(1.2);
    background: var(--palette-red);
    border: 1px solid var(--palette-red);
}

.PostExpanded{
    overflow: hidden;
    width: 100%;
    height:80vh;
    display: flex;
    align-items: center;
    position: relative;
    top:20%;
    flex-direction: column;
}

.bodyCenter{
    display: flex;
    flex-direction: row;
    width:70%;
    height:80%;
    justify-content: space-between;
}
.bodyCenter .productPost{
    width: 43%;
    height:100%;
    border-radius: 1rem;
    overflow: hidden;
}

.bodyCenter .productPost img{
    height:100%;
    border-radius: 1rem;
}
.bodyCenter .brandPost{
    border-radius: 1rem;
    background-color: var(--palette-light-grey);
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    padding: 0;
}
.Slide{
    width: 100%;
}
.bodyCenter .brandPost .banner{
    width:100%;
    height: 20%;
}
.bodyCenter .brandPost .banner img{
    border-radius: 0.5rem 0.5rem 0 0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.bodyCenter .brandPost .brandLogo{
    border-radius: 50%;
    width: 5%;
    position: absolute;
    top:10%;
}
.bodyCenter .brandPost .brandLogo img{
    border-radius: 50%;
    width:100%;
    height: 100%;
    border: 3px solid var(--palette-yellow);
}
.bodyCenter .brandPost .brandPostBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    padding: 7% 3% 3% 3%;
}

.PostExpanded .button{
    background-color: var(--palette-red);
    padding: 2% 5% 2% 5%;
    color: var(--palette-yellow);
}
.PostExpanded .button:hover{
    border-color: var(--palette-red);
    background-color: transparent;
    color:var(--palette-red);
}
.PostExpanded .button.buttonFollow{
    background-color: var(--palette-yellow);
    padding: 1% 2% 1% 2%;
    color: var(--palette-light-grey)
}
.PostExpanded .button.buttonFollow:hover{
    border-color: var(--palette-yellow);
    background-color: transparent;
    color:var(--palette-yellow);
}
.button.buttonUnfollow{
    background-color: var(--palette-light-grey);
    padding: 1% 2% 1% 2%;
    color: var(--palette-light-light-grey);
    border-color: var(--palette-light-light-grey);
}
.button.buttonUnfollow:hover{
    background-color: var(--palette-light-light-grey);
    color:var(--palette-light-grey);
}