.Post
{
    display: flex;
    flex-direction: column;
    /* padding:5% 5% 8% 5%; */
    /* border-radius: 1rem; */
    gap:0.2rem;
    width:98%;
    background-color: var(--palette-light-grey);
    break-inside: avoid;
    page-break-inside: avoid;
    margin: 0% 0% 15% 0;
}

.Post>img{
    max-width: 100%;
    align-items: center;
    border-radius: 0.5rem;
}

.postReact{
    display: flex;
}
.left{
    flex: 50%;
}
.right{
    flex: 40%;
    display: flex;
    flex-direction:column-reverse;
}
.Post h3{
    font-size: 70%;
    line-height: 100%;
    margin: 0 0;
    font-weight: 500;

}
.Post h2{
    font-weight: 600;
    font-size: 120%;
    margin: 13% 0 8%;
}
.Post h4{
    font-size: 40%;
    margin: 0 10% 0 0;
    align-self: flex-end;
    text-align: right;
}