.Navbar{
    position:fixed;
    width: 100%;
    height:20%;
    z-index: 1;
    background-color: var(--palette-grey);
    overflow: hidden;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-color: var(--palette-yellow);
    font-size: 1.5rem;
    line-height: 2rem;
    width: 2rem;
    margin: 0 5% 0 0;

}
.profilepic{
    width:2rem;
}
.nav-body{
    display: flex;
    flex-direction: column;
    width:70%;
    height: 100%;
    padding: 0 0 0 0;
}
.nav-links{
    flex:20%;
    display:flex;
    margin: 0 0 0 0;
    gap: 0;
    padding-inline-start: 0;
}
.left-nav{
    flex: 80%;
    margin: 0 0 0 0;
    align-items: center;
    display: flex;
}
.right-nav{
    flex:20%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
}
.search{
    flex: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--palette-light-grey);
    width: 100%
}
.Navbar ul{
    list-style-type: none;
    margin: 0 0 0 0;
}
.Navbar li{
    float:left;
    margin: 0 5% 0 0;
}
.Navbar li a{
    display: block;
    text-align: center;
}